main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3em; }
  main form {
    display: flex;
    flex-direction: column;
    width: 30em; }
    main form > *[type='text'],
    main form input {
      width: 100%;
      box-sizing: border-box; }
    @media (max-width: 30em) {
      main form {
        width: 100%; } }
#formSoiree {
  display: flex;
  flex-direction: row;
  width: 100%; }

.inputCheck {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .inputCheck label {
    width: 95%; }
  .inputCheck input {
    width: 2em;
    height: 2em; }

#description {
  height: 10em;
  width: 100%;
  resize: none; }

#submitSpectacle {
  height: 4.5em;
  width: 7em; }

#inputsArtists {
  display: flex;
  flex-direction: column; }
  #inputsArtists .inputArtist input {
    height: 1.5em;
    width: 1.5em; }
